# Assignment 9

This notebook analyzes vaccination data from the maryland deptartment of health.

Source: https://coronavirus.maryland.gov/datasets/md-covid19-totalvaccinationscountyfirstandsecondsingledose

In [1]:
import pandas

data_frame = pandas.read_csv('MD_COVID19_TotalVaccinationsCountyFirstandSecondSingleDose.csv', parse_dates=['VaccinationDate'])
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8327 entries, 0 to 8326
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                8327 non-null   int64
 1   Unnamed: 0.1              8327 non-null   int64
 2   Unnamed: 0.1.1            8327 non-null   int64
 3   Unnamed: 0.1.1.1          8327 non-null   int64
 4   Unnamed: 0.1.1.1.1        8327 non-null   int64
 5   Unnamed: 0.1.1.1.1.1      8327 non-null   int64
 6   Unnamed: 0.1.1.1.1.1.1    8327 non-null   int64
 7   ObjectID                  8327 non-null   int64
 8   VaccinationDate           8327 non-null   datetime64[ns, UTC]
 9   County                    8129 non-null   object
 10  FirstDoseDaily            8293 non-null   float64
 11  FirstDoseCumulative       8327 non-null   int64
 12  SecondDoseDaily           7951 non-null   float64
 13  SecondDoseCumulative      8327 non-null   int64
 14  SingleDoseDaily           5471 non-null   float64
 15  SingleDoseCumulative      8327 non-null   int64
 16  AtLeastOneDose            5464 non-null   float64
 17  FullyVaccinated           5466 non-null   float64
 18  FullVaccinatedCumulative  8327 non-null   int64
 19  AtLeastOneDoseCumulative  8327 non-null   int64
 20  TotalCumulative           8327 non-null   int64
dtypes: datetime64[ns, UTC](1), float64(5), int64(14), object(1)
memory usage: 1.3+ MB

The names of some columns are changed to make the headers more readible.

In [2]:

data_frame = data_frame.rename(columns={"OBJECTID": "ObjectID", "VACCINATION_DATE": "VaccinationDate"})
data_frame

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,Unnamed: 0.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1,ObjectID,VaccinationDate,County,...,FirstDoseCumulative,SecondDoseDaily,SecondDoseCumulative,SingleDoseDaily,SingleDoseCumulative,AtLeastOneDose,FullyVaccinated,FullVaccinatedCumulative,AtLeastOneDoseCumulative,TotalCumulative
0,0,0,0,0,0,0,0,1,2021-01-08 15:00:00+00:00,NaN,...,8000,NaN,0,NaN,0,NaN,NaN,0,8000,8000
1,1,1,1,1,1,1,1,2,2021-01-10 15:00:00+00:00,NaN,...,8001,NaN,0,NaN,0,NaN,NaN,0,8001,8001
2,2,2,2,2,2,2,2,3,2021-01-13 15:00:00+00:00,NaN,...,8002,NaN,0,NaN,0,NaN,NaN,0,8002,8002
3,3,3,3,3,3,3,3,4,2021-01-22 15:00:00+00:00,NaN,...,8003,NaN,0,NaN,0,NaN,NaN,0,8003,8003
4,4,4,4,4,4,4,4,5,2021-01-26 15:00:00+00:00,NaN,...,8004,NaN,0,NaN,0,NaN,NaN,0,8004,8004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8322,8322,8322,8322,8322,8322,8322,8322,8323,2021-11-02 15:00:00+00:00,Prince George's,...,537555,800.0,481950,29.0,30859,722.0,829.0,512809,568414,1019505
8323,8323,8323,8323,8323,8323,8323,8323,8324,2021-11-03 15:00:00+00:00,Prince George's,...,538181,705.0,482655,41.0,30900,667.0,746.0,513555,569081,1020836
8324,8324,8324,8324,8324,8324,8324,8324,8325,2021-11-04 15:00:00+00:00,Prince George's,...,538696,791.0,483446,18.0,30918,533.0,809.0,514364,569614,1022142
8325,8325,8325,8325,8325,8325,8325,8325,8326,2021-11-05 15:00:00+00:00,Prince George's,...,539375,826.0,484272,42.0,30960,721.0,868.0,515232,570335,1023647
8326,8326,8326,8326,8326,8326,8326,8326,8327,2021-11-06 15:00:00+00:00,Prince George's,...,539518,205.0,484477,15.0,30975,158.0,220.0,515452,570493,1023995

A new column is initialized as the sum of two already existing columns (Total cumulative doses).

In [3]:
data_frame['TotalCumulative'] = data_frame['FirstDoseCumulative'] + data_frame['SecondDoseCumulative']
data_frame

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,Unnamed: 0.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1,ObjectID,VaccinationDate,County,...,FirstDoseCumulative,SecondDoseDaily,SecondDoseCumulative,SingleDoseDaily,SingleDoseCumulative,AtLeastOneDose,FullyVaccinated,FullVaccinatedCumulative,AtLeastOneDoseCumulative,TotalCumulative
0,0,0,0,0,0,0,0,1,2021-01-08 15:00:00+00:00,NaN,...,8000,NaN,0,NaN,0,NaN,NaN,0,8000,8000
1,1,1,1,1,1,1,1,2,2021-01-10 15:00:00+00:00,NaN,...,8001,NaN,0,NaN,0,NaN,NaN,0,8001,8001
2,2,2,2,2,2,2,2,3,2021-01-13 15:00:00+00:00,NaN,...,8002,NaN,0,NaN,0,NaN,NaN,0,8002,8002
3,3,3,3,3,3,3,3,4,2021-01-22 15:00:00+00:00,NaN,...,8003,NaN,0,NaN,0,NaN,NaN,0,8003,8003
4,4,4,4,4,4,4,4,5,2021-01-26 15:00:00+00:00,NaN,...,8004,NaN,0,NaN,0,NaN,NaN,0,8004,8004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8322,8322,8322,8322,8322,8322,8322,8322,8323,2021-11-02 15:00:00+00:00,Prince George's,...,537555,800.0,481950,29.0,30859,722.0,829.0,512809,568414,1019505
8323,8323,8323,8323,8323,8323,8323,8323,8324,2021-11-03 15:00:00+00:00,Prince George's,...,538181,705.0,482655,41.0,30900,667.0,746.0,513555,569081,1020836
8324,8324,8324,8324,8324,8324,8324,8324,8325,2021-11-04 15:00:00+00:00,Prince George's,...,538696,791.0,483446,18.0,30918,533.0,809.0,514364,569614,1022142
8325,8325,8325,8325,8325,8325,8325,8325,8326,2021-11-05 15:00:00+00:00,Prince George's,...,539375,826.0,484272,42.0,30960,721.0,868.0,515232,570335,1023647
8326,8326,8326,8326,8326,8326,8326,8326,8327,2021-11-06 15:00:00+00:00,Prince George's,...,539518,205.0,484477,15.0,30975,158.0,220.0,515452,570493,1023995

A subset of data is created for Prince Georges County.

In [4]:
data_frame['County'] = data_frame['County'].str.strip()
pg_data_frame = data_frame[data_frame['County'] == "Prince George's"] 
pg_data_frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 328 entries, 7771 to 8326
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                328 non-null    int64
 1   Unnamed: 0.1              328 non-null    int64
 2   Unnamed: 0.1.1            328 non-null    int64
 3   Unnamed: 0.1.1.1          328 non-null    int64
 4   Unnamed: 0.1.1.1.1        328 non-null    int64
 5   Unnamed: 0.1.1.1.1.1      328 non-null    int64
 6   Unnamed: 0.1.1.1.1.1.1    328 non-null    int64
 7   ObjectID                  328 non-null    int64
 8   VaccinationDate           328 non-null    datetime64[ns, UTC]
 9   County                    328 non-null    object
 10  FirstDoseDaily            328 non-null    float64
 11  FirstDoseCumulative       328 non-null    int64
 12  SecondDoseDaily           316 non-null    float64
 13  SecondDoseCumulative      328 non-null    int64
 14  SingleDoseDaily           246 non-null    float64
 15  SingleDoseCumulative      328 non-null    int64
 16  AtLeastOneDose            246 non-null    float64
 17  FullyVaccinated           246 non-null    float64
 18  FullVaccinatedCumulative  328 non-null    int64
 19  AtLeastOneDoseCumulative  328 non-null    int64
 20  TotalCumulative           328 non-null    int64
dtypes: datetime64[ns, UTC](1), float64(5), int64(14), object(1)
memory usage: 56.4+ KB

# Assignment 10

First, the previously used csv file that was modified is saved.

In [5]:
data_frame.to_csv("MD_COVID19_TotalVaccinationsCountyFirstandSecondSingleDose.csv", encoding="UTF-8")

Next, a new dataframe is created from another dataset. This one contains counties and populations.

In [20]:
excel_frame = pandas.read_csv("County-table1A.csv")

excel_frame = pandas.DataFrame(excel_frame['Unnamed: 0'], excel_frame['Unnamed: 2'])

updated_frame = excel_frame

updated_frame

                                Unnamed: 0
Unnamed: 2
NaN                                    NaN
 Census                                NaN
 April 1, 2010 Estimates Base*         NaN
NaN                                    NaN
5773787                                NaN
NaN                                    NaN
2662812                                NaN
537635                                 NaN
805311                                 NaN
167155                                 NaN
244824                                 NaN
287110                                 NaN
620777                                 NaN
NaN                                    NaN
2068722                                NaN
233415                                 NaN
971279                                 NaN
864028                                 NaN
NaN                                    NaN
340451                                 NaN
88741                                  NaN
146564                                 NaN
105146                                 NaN
NaN                                    NaN
252597                                 NaN
75042                                  NaN
30139                                  NaN
147416                                 NaN
NaN                                    NaN
239930                                 NaN
33078                                  NaN
101091                                 NaN
20195                                  NaN
47789                                  NaN
37777                                  NaN
NaN                                    NaN
209275                                 NaN
32623                                  NaN
26470                                  NaN
98734                                  NaN
51448                                  NaN
                                       NaN
NaN                                    NaN
NaN                                    NaN
NaN                                    NaN